:root {
    --navBg:black;
  }
  .h
  {
    text-align:center;
    margin-left:380px;
    margin-top:-5px;
    color:whitesmoke;
  }
  .t{
      font-family:Algerian;
      margin-left:-620px;
      margin-top:200px;
  }
  .navbar {
    background-color: var(--navBg);
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .sign{
    color:white;
    margin-left: 1210px;
  }
  .log
  {
    color:white;
    margin: 60px;
  }
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .menu-bar {
    margin-left: 2.7rem;
    font-size: 2rem;
    background: black;
    margin-top:50px;
    margin-bottom: 0px;
  }
  .nav-menu {
    background-color: var(--navBg);
    width: 220px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
    background: black;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background:blue;
  }
  
  .nav-menu-items {
    width: 100%;
    padding: 0;
  }
  
  .navbar-toggle {
    background-color: var(--navBg);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  .glow-on-hover2{
    font-family:Algerian;
    text-decoration: none;
    font-size: 30px;
    width: 110px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #b0a3a3;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top:-30px;
    margin-left: 400px;
    border-color: white;
  }
  
  .glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover2:active {
    color: #000
  }
  
  .glow-on-hover2:active:after{
    background: transparent;
  }
  
  .glow-on-hover2:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover2:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  