.t{
    font-family:Algerian;
    margin-left:-450px;
    margin-top:-30px;
    color:azure;
}
.bg
{
background:url("h.avif");
background-repeat: no-repeat;
background-size: cover;
width:100%;
height:697px;
}